<div class="row">
  <div class="col-md-4 offset-md-4">
    <p><strong>Name:</strong></p>
    <p><%= @genre.name %></p>
    <br>
    <%= link_to 'Edit', edit_genre_path, class:'btn btn-primary' %>
  </div>
</div>