<div class="row mt-5">
	<div class="container">
		<div class="col-md-4 offset-md-4">
			<h1>Favorite Songs</h1>
			<br>
		</div>
		<table class="table pt-5">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th></th>
	        <th>Song</th>
	        <th>Artist</th>
	        <th>Album</th>
	        <th>Length</th>
	      </tr>
	    </thead>
		  <tbody>
		    <%= render 'song' %>
		  </tbody>
	  </table>
	</div>
</div>	