
<%= render 'shared/flash' %>
<div class="row mt-5">
	<div class="container">
		<div class="col-md-3">
			<h4>Favorite Songs</h4>
			<br>
		</div>
		<table class="table pt-5">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th></th>
	        <th>Song</th>
	        <th>Artist</th>
	        <th>Album</th>
	        <th>Length</th>
	      </tr>
	    </thead>
		  <tbody>
		    <%= render 'song'%>
		  </tbody>
	  </table>
	</div>
</div>

