<div class="favorite">
  <%= link_to favorite_path(id: @song.id), method: :post , remote: true do %>
  <div class="like-btn text-center" song_id="<%= song.id %>">
    <span class="<%= song.heart_class(current_user) %>"></span>
  </div>
  <% end %>
</div>