<footer class="fixed bg-inverse text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 align-self-end small">
                @2017 FavPlay
            </div>
        </div>
    </div>
</footer> 