	
<% @latest_albums.each do |album| %>
		<div class="media">
			<%= link_to album_path(album) do %>
			 <%= image_tag album.img_url, class: "card-img-top" %>
		  </div>		         
		   <% end %>
		  <div class="media-body">
		    <h5 class="mt-2 mb-0"><%= link_to album.name, album_path(album) %></h5>
		    <p class="pb-3"><%= link_to album.artist.name, artist_path(album.artist), class:'artist' %></p>
      <% end %>
		  </div>
		</div>  
	</div>
</div>


