
<br>
<br>
<div class="col-sm-8">
	<h3 class="text-muted pb-2">Latest songs added</h3>
	<%= form_tag(root_path, method: :get, class: 'input-group pb-3') do %>
	<%= text_field_tag :term, params[:term], class: 'form-control', placeholder: 'Search for a song..' %>
	<span class="input-group-btn">
	<%= submit_tag 'Search', name: nil, class: 'btn btn-secondary' %>
	</span>
	<% end %>
</div>
<table class="table pt-5 mt-3">
  <thead>
    <tr>
      <th>#</th>
      <th width="10%"></th>
      <th><%= sort_link "name", "Song" %></th>
      <th><%= sort_link "artist_id", "Artist" %></th>
      <th><%= sort_link "album_id", "Album" %></th>
      <th><%= sort_link "length" %></th>
      <th><%= sort_link "genre_id", "Genre" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 <% @songs.each do |song| %>
		<tr>
		  <th scope="row"><%= song.id %></th>
		<% if logged_in? %>
	 <td>
	    <div class="">
	      <%= link_to favorite_path(id: song.id), method: :post , remote: true do %>
	      <div class="like-btn text-center" song_id="<%= song.id %>">
	        <span class="<%= song.heart_class(current_user) %>"></span>
	      </div>
	      <% end %>
	    </div>
		  </td>
		  <td class="light-text"><%= link_to song.name, song_path(song) %></td>
		  <td class="light-text"><%= link_to song.artist.name, artist_path(song.artist_id)%></td>
		  <td class="light-text"><%= link_to song.album.name, album_path(song.album_id)%></td>
		  <td class="light-text"><%= link_to song.length, song_path(song)%></td>
		  <td class="light-text"><%= link_to song.genre.name, genre_path(song.genre_id)%></td>
		    <td>
		      <%= link_to song.youtube_link, target: :_blank do %>
		       <i class="fa fa-play" aria-hidden="true" rel="tooltip" data-placement="top" title="Press to play on YouTube"></i>
		    </td>  
		    <td>
		      <a data-toggle="modal" data-target="#addSong" data-id="<%= song.id %>" title="Add this song to playlist" class="open-AddSong" href="#addSong"><i class="fa fa-plus" aria-hidden="true" rel="tooltip" data-placement="top" title="Add to playlist"></i></a>

		      <div class="modal fade" id="addSong">
		        <%= render 'shared/add_song_to_playlist' %>
		      </div>
		     <% end %> 
		    </td>
		  <% end %>
		  </tr>
		<% end %>
  </tbody>
</table>
<div>
   <%= will_paginate(@songs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> 
</div>
