<% unless logged_in? %>
<section id="splash-blue">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 jumbotron">
					<div class="to-center text-center">
						<h2 class="display-1">FavPlay</h2>
						<br>
						<p class="lead">Create ultimate playlists with your favorite artists!</p>
						<p>Create an account with us, or simply log in below!</p>
						<p class="lead">
							<%= link_to 'Log in', login_path, class: "btn btn-primary" %>
							<%= link_to 'Sign up!', new_user_path, class: "btn btn-primary" %>
						</p>	
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<% else %>    
<div class="container">	
	<div class="row h-100">
    <main class="col py-3">
            <div class="row">
                <div class="col">
                    <div class="tab-content py-3">
                        <div class="tab-pane active" id="tab1" role="tabpanel">
                            <div class="col-xs-2 col-sm-8 col-md-12">
                             <%= render 'songs'%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-10 mt-5 m-b-20">
                    <div class="card card-inverse bg-inverse mb-3">
                        <div class="card-block">
                            <h3 class="card-title">Popular Songs</h3>
                          <%= render 'popular_songs' %>
                        </div>
                    </div>
                    <div class="card bg-faded border-0">
                        <div class="card-block">
                            <h3 class="card-title">Latest Albums</h3>
                          <%= render 'latest_albums' %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<%= render 'shared/footer' %>
<% end %>