<ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= link_to song.name, song_path(song)%></h5>
      <p><%= link_to song.artist.name, artist_path(song.artist_id)%></p>
      <p><%= link_to song.album.name, album_path(song.album_id)%></p>
      <p><%= link_to song.length, song_path(song)%></p>
      <p><%= link_to song.genre.name, genre_path(song.genre_id)%></p>
    </div>
  </li>
</ul>