<div class="row mt-5">
  <div class="container">
  	<div class="col-md-3">
      <h4>Songs</h4>
      <br>
    </div>
		<br>
		<table class="table pt-5">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th width="10%"></th>
	        <th><%= sort_link "name", "Song" %></th>
	        <th><%= sort_link "artist_id", "Artist" %></th>
	        <th><%= sort_link "album_id", "Album" %></th>
	        <th><%= sort_link "length" %></th>
	        <th><%= sort_link "genre_id", "Genre" %></th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
		  <tbody>
		    <%= render @songs %>
		  </tbody>
	  </table>
	 </div>
   <div class="row">
    <div class="container">
      <div class="col-md-6 offset-md-6 mt-5 mb-3">
       <%= will_paginate(@songs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> 
      </div>
    </div>	 	
  </div>
 </div>
</div>
<%= render 'shared/footer' %>