<div class="row mt-5">
	<div class="container">
	 	<div class="col-md-4 offset-md-4">
	 		<h1>Songs <%= link_to 'Add new', new_song_path, class: 'btn btn-primary' %></h1>
	 		<%= count_for @songs,  'Total' %>
	 	</div>
	</div>
</div>	 	
