<div class="container p-1">
  <div class="row">
		<div class="col-md-2 offset-md-10">
			<% if current_user.admin? || current_user.superadmin? %>
			<%= link_to 'Add new song', new_song_path, class: 'btn btn-primary' %>
			<% end %>
		</div>
		<br>
		<div  class="container" id="notice">
		  <%= display_flash :notice %>
		</div>
		<br>
		<table class="table table-responsive pt-5 mt-4">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th width="10%"></th>
	        <th>Song</th>
	        <th>Artist</th>
	        <th>Album</th>
	        <th>Length</th>
	        <th>Genre</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
		  <tbody>
		    <%= render @songs %>
		  </tbody>
	  </table>
	 </div>
   <div class="row">
    <div class="container">
      <div class="col-md-4 offset-md-4">
       <%= will_paginate(@songs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> 
    </div>
</div>	 	
