<div class="row pt-1">
  <div class="col-md-4 offset-md-4">
    <p><strong>Name:</strong></p>
    <p><%= @song.name %></p>
    <br>
    <p><strong>Year:</strong></p>
    <p><%= @song.album.released %></p>
    <br>
  </div>
</div>