<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
	<div class="card">
	 <%= link_to album_path(album) do %>
	   <%= image_tag album.img_url,class: "card-img-top" %>
	  <% end %>		 
		<div class="card-block">
		  <p><%= link_to album.name, album_path(album) %></p>
		  <p class="artist">Artist: <%= link_to album.artist.name, artist_path(album.artist) %></p>
		</div>
	</div>
</div>
	
