<%= render 'shared/flash' %>
<div class="container p-5">
	<div class="row">
		<div class="col-md-3">
      <h4>Albums</h4>
      <br>
    </div>
	</div>
		<hr>
	  <div class="row">
		  <%= render @albums %>
		</div> 
  </div>
  <div class="row">
    <div class="container mb-5">
      <div class="col-md-4 offset-md-4">
       <%= will_paginate(@albums, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> 
      </div>
    </div>
  </div> 
</div> 
<%= render 'shared/footer' %>



	