<div class="container p-5">
	<div class="row">
		<div class="col-md-2 offset-md-10">
		  <%= link_to 'Add new album', new_album_path, class: 'btn btn-primary' %>
		</div>
	</div>
	<br>
		<hr>
	  <div class="row">
		  <%= render @albums %>
		</div> 
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-4 offset-md-4">
       <%= will_paginate(@albums, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %> 
      </div>
    </div>
  </div> 
</div> 



	