/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
 *= require font-awesome
 */

 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);


// modifed bootstrap
.jumbotron {
    color: white;
    background-attachment: fixed;
    min-height: 600px;
    margin-top: 0px;
    margin-bottom: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.navbar-brand {
    font-size: 2em;
    
}

.navbar-brand>img {
  width: 100%;
  height: auto;
  max-width: 80px;
}

.card {
  border: 0px;
}

.card-img-top {
  display: block;
  width: 100%;
  max-width: 204px;
  height: auto;
  border: 0px;
}

.list-group-flush .list-group-item {
   background-color: #292b2c;

 }
 
 .nav-orange {
   color: orange;

 } 

 .btn-primary {
   background-color: #7561ab;
   border-color: #7561ab;
   

 }
 
 .btn-primary:hover {
   background-color: orange;
   border-color: orange;
   

 }

// Custom Css

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(127, 63, 152, 0.85);
  p {
    padding: 2.0rem 0;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    text-align: center;
  }  
}


html, body {
  height: 100%;
  font-family: Oswald, sans-serif;

}


a {
  color: #72727d;
}

a:hover {
  color: #563d7c;
}

section {
    position: relative;
    height: 100%;
}    

#splash-blue {
    background-color: #272D4E;
    background-image: url(https://images.pexels.com/photos/374703/pexels-photo-374703.jpeg);
    height: 100%;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.layer{
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left:  0;
  height: 100%;
  width: 100%;

}

.drop-nav {
	padding:0 10px;
}


.to-center {
	padding: 50px 0px;
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form-error-text {
  color: red;
  font-weight: 300;
}

.table {
  counter-reset: rowNumber;
}

.table tr {
  counter-increment: rowNumber;
}

.table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

.artist {
  font-size: 12px;
  color: #72727d;
  padding: 0;
}

.album {
  font-size: 14px;
  font-weight: lighter;
  color: #72727d; 
  padding-bottom: 3px;
  margin-bottom: 3px;
}

 .red-heart {
   color: red;

}

.home-card {
    color: #72727d;
    background-color: #292b2c;

}  

.page-link {
  color: #7561ab;
}

.page-item.active .page-link {
    background-color: #7561ab;
    border-color: #7561ab;
}  

.light-text {
  font-weight: lighter;
}

 // Admin dashboard

.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background: #38a9e4;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 48px;
  text-align: center;
}
  

.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

.sidepanel{
  padding-bottom: 10px;
}